<!-- templates/registration/password_reset_form.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}رمز عبور خور را فراموش کرده اید؟{% endblock title %}

{% block content %}
  <h1>رمز خود را فراموش کرده اید؟</h1>
  <p>آدرس ایمیل خودر را درزیر وارد کنید . ما دستورالعمل
  تعیین رمز عبور جدید را برای شما ارسال می کنیم</p>

  <form method="post">{% csrf_token %}
    {{form|crispy}}
    <input class = "btn btn-success" type="submit"  value="ارسال ایمیل بازیابی">    
  </form>
{% endblock content %}
