<!-- templates/registration/password_change_form.html-->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock title %}

{% block content %}
  <h1>Password change</h1>
  <p>لطفا رمز قدیمی خود را جهت امنیت بیشتر وارد کنید. سپس رمزعبور جدیدخود را
    دوبار وارد کنید تا ما مطمین شویم آن را درست وارد کرده اید
  </p>
  <form method="post">{% csrf_token %}
    {{form|crispy}}
    <input class="btn btn-success" type="submit" value="تغییر رمز عبور">
    </form>
{% endblock content %}
